@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://64.media.tumblr.com/a07642cd03e3971c22c338a17f59e3af/2a327f04b1205077-53/s500x750/2cfe84d839ccfe174d91b6aced8014c927a0d6fc.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgba(154, 131, 173, 0.804);
  text-shadow: 4px 4px 5px rgba(140, 139, 139, 0.619);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  max-width: 130px;
}

#buttonsFig {
  width: 170px;
  height: 170px;
  margin: 5px;
  background: rgba(255, 255, 255, 0);
  border: none;
}

.buttons, #buttonsFig{
  cursor: pointer;
}

.buttons {
  margin: 2px;
  border: none;
  background: rgba(241, 241, 241, 0);
}

.imgButtons {
  width: 60px;
  height: 30px;
  align-items: center;
}

#restart {
  width: 90px;
  height: 80;
}

#time {
  float: right;
  border: aliceblue inset 3px;
  border-radius: 20px;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin-top: 0%;
  margin-right: 20px;
  text-align: center;
  color: rgba(169, 49, 109, 0.406);
  box-shadow: 4px 4px 5px 0px rgba(140, 139, 139, 0.619);
}

#timer, #time {
  font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
  font-size: large;
}

#timer {
  font-size: 35px;
  margin: 10px;
  text-align: center;
  color: rgba(255, 0, 38, 0.297);
}
